/* import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

/* variable definitions */
:root {
  --title-font: "Oswald";
  --primary-font: "Roboto";
  --primary-bg-color: #FFFFFF;
  --secondary-bg-color: #14213D;
  --highlight-color: #FCA311;
  --bg-dark: #000000;
  --text-light: #E5E5E5;
}

/* styles */
/* parent element */
body {
  font-family: var(--primary-font);
  background-color: var(--white-color);
  color: var(--bg-dark);
  overflow-x: hidden;
}


/* utility classes */
.highlight-txt {
  color: var(--highlight-color);
}

.a-nostyle {
  color: var(--bg-dark);
  font-style: normal;
  text-decoration: none;
}

.title {
  font-family: var(--title-font);
  font-size: 4rem;
  letter-spacing: 1px;
  padding: 5px 20px;
}

.subtitle {
  font-size: 1.7rem;
  padding: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}