.header {
  background-color: var(--secondary-bg-color);
  margin: 0;
  padding: 20px;
  position: relative;
  z-index: 3;
}

.header-title {
  color: var(--text-light);
  margin: 0;
  padding: 0;
  font-size: 3rem;
  letter-spacing: 2px;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-line {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background: var(--text-light);
  transition: all 0.5s ease-out;
}

.close {
  transform: rotate(180deg);
}

.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  background: var(--highlight-color);
}

.close .btn-line:nth-child(2) {
  opacity: 0;
}

.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
  background: var(--highlight-color);
}
