/* Hero Component Styles */

.hero {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, var(--highlight-color), var(--primary-bg-color));
}

.hero-title {
  color: var(--secondary-bg-color);
  margin: 0;
  padding: 50px;
  padding-top: 5px;
  font-size: 6rem;
}

.hero-container {
  margin: 100px;
  padding-top: 35px;
}

.container-left {
  margin-left: 200px;
}

.container-right {
  position: relative;
}

.profile-img {
  width: 350px;
  height: 350px;
  z-index: 2;
  position: relative;
  border-radius: 50%;
  transform: scale(1.5);
}

.profile-bg {
  width: 350px;
  height: 800px;
  background-color: var(--highlight-color);
  position: absolute;
  bottom: 20px;
  left: 237px;
  z-index: 1;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  transform: rotate(45deg) scale(1.5);
}


/* animations */
@keyframes slide-in-right {
  from {
    transform: translate(50%, -50%);
    opacity: 0;
  }

  to {
    transform: translate(0%);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .container-left.visible {
    animation: slide-in-left  ease-out 0.5s;
  }

  .container-left.remove {
    transform: translateX(-50%);
    opacity: 0;
  }
  
  .container-right.visible {
    animation: slide-in-right ease-out 0.5s;
  }

  .container-right.remove {
    transform: translate(50%, -50%);
    opacity: 0;
  }
}

@media screen and (max-width: 1450px) {
  .profile-img {
    transform: scale(1.2);
  }

  .profile-bg {
    transform: rotate(45deg) scale(1.2);
    bottom: -30px;
    left: 190px;
  }

  .hero-title {
    font-size: 4.5rem;
  }

  .hero-container {
    margin: 50px;
    padding-top: 35px;
  }

  .container-left {
    margin-left: 100px;
  }
}

@media screen and (max-width: 1055px) {
  .profile-img {
    transform: scale(1);
  }

  .profile-bg {
    transform: rotate(45deg) scale(1);
    bottom: -62px;
    left: 160px;
  }

  .hero-title {
    font-size: 3.5rem;
  }

  .container-left {
    margin-right: 0;
  }

  .hero-title, .hero-subtitle {
    margin-right: 0;
    padding-right: 0;
  }

  .container-right {
    margin-left: 0;
  }
}

@media screen and (max-width: 855px) {
  .hero {
    flex-flow: column-reverse;
    justify-content: space-between;
    height: 80vh;
  }

  .hero-title {
    margin: 0;
    padding: 20px;
  }
  
  .hero-container {
    margin: 0px;
    padding: 0px;
  }
  
  .container-left {
    margin-top: 50px;
  }

  .container-right {
    margin-bottom: 120px;
  }

  .profile-img {
    transform: scale(1);
    bottom: -200px;
  }

  .profile-bg {
    transform: rotate(45deg) scale(1);
    bottom: -262px;
    left: 160px;
  }
}

@media screen and (max-width: 400px) {
  .container-left {
    margin: 0 0 50px 0;
  }

  .container-right {
    margin-bottom: 80px;
  }
  
  .profile-img {
    transform: scale(0.8);
    bottom: -100px;
  }

  .profile-bg {
    transform: rotate(45deg) scale(0.8);
    bottom: -193px;
    left: 128px;
  }
}

@media screen and (max-width: 350px) {
  .hero-title, .hero-subtitle {
    text-align: center;
    font-size: 3rem;
  }
}